* {
    margin: 0 auto;
}


@media screen and (min-width: 680px) {
    
    body {
        font-family: 'Open Sans Condensed', sans-serif;
        display: inline-flex;


        .menu {
            flex: 1 0px;
        }

        contenu {
            order: 2;
        }
    }
}

@media screen and (min-width: 1390px) {
    
    body {
        font-family: 'Open Sans Condensed', sans-serif;
        display: inline-flex;


        .menu {
            flex: 1 0px;
        }

        contenu {
            order: 2;
        }
    }
}