* {
    margin: 0 auto;
}


body {
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    background-color: salmon;

    .menu {
        background-color: aqua;
    }

    img {
        width: 20vw;
    }

    footer {
        
    }
}

@media screen and (min-width: 680px) {
    

}

@media screen and (min-width: 1390px) {
    
    
}